.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form>* {
  width: 100%;
}

.button-container {
  flex: 1 1 100px;
}

.vm-details-button {
  margin: 8px 8px 8px 0;
  width: 220px;
  float: right;
}

.mat-mdc-card-title {
  margin: 8px 8px 8px 0;
}


@media screen and (max-width: 500px) {
  .vm-details-button {
    width: 100%
  }
}