.pie-charts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.pie-charts>* {
  width: 35%;
}

.vm-graphs-mat-card-header {
  background-color: rgb(245, 245, 245);
}

@media screen and (max-width: 700px) {
  .vm-details-button {
    width: 100%
  }
}