<mat-card>
  <mat-card-header class="vm-configuration-mat-card-header">
    <mat-card-title>Virtual Machine Configuration</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="config.configID" class="edit-form">
      <mat-form-field appearance="fill" class="">
        <mat-label>ConfigID</mat-label>
        <mat-hint>{{config.configID}}</mat-hint>
        <input required matInput title="configID" type="text" readonly id="configID" [(ngModel)]="config.configID"
          name="configID" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Scale Up Trigger</mat-label>
        <mat-hint>{{config.scaleUpTrigger}}</mat-hint>
        <input required matInput title="scaleUpTrigger" type="text" id="scaleUpTrigger"
          [(ngModel)]="config.scaleUpTrigger" name="scaleUpTrigger" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Scale Down Trigger</mat-label>
        <mat-hint>{{config.scaleDownTrigger}}</mat-hint>
        <input required matInput title="ScaleDownTrigger" type="text" id="scaleDownTrigger"
          [(ngModel)]="config.scaleDownTrigger" name="scaleDownTrigger" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="">
        <mat-label>Scale Up Percentage</mat-label>
        <mat-hint>{{config.scaleUpPercentage}}</mat-hint>
        <input required matInput title="scaleUpPercentage" type="text" id="scaleUpPercentage"
          [(ngModel)]="config.scaleUpPercentage" name="scaleUpPercentage" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Scale Down Percentage</mat-label>
        <mat-hint>{{config.scaleDownPercentage}}</mat-hint>
        <input required matInput title="scaleDownPercentage" type="text" id="scaleDownPercentage"
          [(ngModel)]="config.scaleDownPercentage" name="scaleDownPercentage" />
      </mat-form-field>
      <div class="button-container">
        <span class="toolbar-spacer"></span>
        <!-- <button mat-raised-button class="vm-details-button" color="warn" matTooltip="Delete Virtual Machine!"
          (click)="deleteConfiguration()">Delete</button> -->
        <button type="submit" mat-raised-button class="vm-details-button" color="primary"
          matTooltip="Update Virtual Machine" (click)="updateConfiguration()">Update</button>
      </div>
    </div>
    <div *ngIf="!config.configID">
      <br />
      <p>Cannot access this Virtual Machine Configuration...</p>
    </div>
  </mat-card-content>
</mat-card>