a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.menu-button:hover {
  text-decoration: underline;
}

.mat-button {
  background-color: #fff;
  border-radius: 10%;
  height: 28px;
  width: 18px
}

.mat-icon {
  background-color: #fff;
  border-radius: 10%;
  height: 48px;
  width: 48px;
}

.toolbar-spacer {
  flex: 1 1 auto
}

.mat-mdc-raised-button {
  margin: 8px 8px 8px 0;
}

.navbar-brand-div {
  margin-top: 10px;
}

.navbar-brand {
  margin: 8px 8px 8px 0;
}

#default-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#default-menu div {
  width: 100px;
}

#hamburger-menu {
  display: none;
}


@media screen and (max-width: 700px) {
  #default-menu {
    display: none;
  }

  #hamburger-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  #hamburger-menu div {
    width: 100px;
  }
}