.list {
  text-align: left;
  max-width: 900px;
  margin: auto;
}

.button-container {
  display: flex;
}

.button-container .btn {
  flex: 1;
}

.active {
  background: #D3d3d3;
  opacity: 1;

}

.vm-table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-column-select {
  overflow: initial;
}

.mat-sort-header-content {}

.mat-column-hostname {
  border-right: 1px solid currentColor;
  text-align: left;
}

.mat-column-username {
  border-right: 1px solid currentColor;
  text-align: left;
}

.mat-column-checkedIn {
  border-right: 1px solid currentColor;
  text-align: left;
}

.mat-column-powerState {
  text-align: left;
}