<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <!-- <input
        type="text"
        class="form-control"
        placeholder="Search by title"
        [(ngModel)]="title"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchTitle()"
        >
          Search
        </button> 
      </div>-->
    </div>
  </div>
  <div class="col-md-6">
    <h4>Virtual Machines</h4>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let vm of virtualMachines ?? [] | paginate: { itemsPerPage: 4, currentPage: page }; let i=index"
        [class.active]="i == currentIndex" (click)="setActiveVM(vm, i)">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Host Name</th>
                <th>Checked In</th>
                <th>Username</th>
                <th>Power State</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{vm.hostname}}</td>
                <td>{{vm.checkedIn}}</td>
                <td>{{vm.username}}</td>
                <td>{{vm.powerState}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>
    <div class="button-container btn ">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
  <div class="col-md-6">
    <app-vm-details [viewMode]="true" [currentVM]="currentVm"></app-vm-details>
  </div>
</div>