<mat-card>
  <mat-card-header class="vm-detail-mat-card-header">
    <mat-card-title>Virtual Machine ({{currentVM.vmid}})</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="currentVM.vmid" class="edit-form">
      <mat-form-field appearance="fill" class="">
        <mat-label>VMID</mat-label>
        <mat-hint>{{currentVM.vmid}}</mat-hint>
        <input required matInput title="vmid" type="text" readonly id="vmid" [(ngModel)]="currentVM.vmid" name="vmid" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Host Name</mat-label>
        <mat-hint>{{currentVM.hostname}}</mat-hint>
        <input required matInput title="hostname" type="text" id="hostname" [(ngModel)]="currentVM.hostname"
          name="hostname" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>IP Address</mat-label>
        <mat-hint>{{currentVM.ipAddress}}</mat-hint>
        <input required matInput title="ipAddress" type="text" id="ipAddress" [(ngModel)]="currentVM.ipAddress"
          name="ipAddress" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Power State</mat-label>
        <mat-hint>{{currentVM.powerState}}</mat-hint>
        <mat-select required [(ngModel)]="currentVM.powerState">
          <mat-option value="On">On</mat-option>
          <mat-option value="Off">Off</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Checked In</mat-label>
        <mat-hint>{{currentVM.checkedIn}}</mat-hint>
        <mat-select required [(ngModel)]="currentVM.checkedIn">
          <mat-option value="Yes">Yes</mat-option>
          <mat-option value="No">No</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>User Name</mat-label>
        <mat-hint>{{currentVM.username}}</mat-hint>
        <input required matInput title="username" type="text" id="username" [(ngModel)]="currentVM.username"
          name="username" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Avd Host</mat-label>
        <mat-hint>{{currentVM.avdHost}}</mat-hint>
        <input required matInput title="avdHost" type="text" id="avdHost" [(ngModel)]="currentVM.avdHost"
          name="avdHost" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Created Date</mat-label>
        <mat-hint>{{currentVM.createDate}}</mat-hint>
        <input matInput title="createDate" type="text" readonly id="createDate" [(ngModel)]="currentVM.createDate"
          name="createDate" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Last Update Date</mat-label>
        <mat-hint>{{currentVM.lastUpdateDate}}</mat-hint>
        <input matInput title="lastUpdateDate" type="text" readonly id="lastUpdateDate"
          [(ngModel)]="currentVM.lastUpdateDate" name="lastUpdateDate" />
      </mat-form-field>
      <mat-form-field appearance="fill" class="">
        <mat-label>Description</mat-label>
        <textarea matInput title="description" class="form-control" id="description" [(ngModel)]="currentVM.description"
          name="description"></textarea>
      </mat-form-field>
      <div class="button-container">
        <span class="toolbar-spacer"></span>
        <!-- <button mat-raised-button class="vm-details-button" color="warn" matTooltip="Delete Virtual Machine!"
          (click)="deleteVM()">Delete</button> -->
        <button mat-raised-button class="vm-details-button" color="primary" matTooltip="Update Virtual Machine"
          (click)="updateVM()">Update</button>
      </div>
    </div>
    <div *ngIf="!currentVM.vmid">
      <br />
      <p>Cannot access this Virtual Machine...</p>
    </div>
  </mat-card-content>
</mat-card>